* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-unit) var(--screen-margin);
    background-color: #333;
    color: #fff;
    height: 100px;
}

/* Logo styles */
.logo  {
    width: 50px; 
    height: 40px; 
    padding-left: 80px;
    margin-right: -170px; /* Adjusted to reduce space between logo and search */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Search-box-icon styles */
.search-box-icon { 
    width: 50px;
    height: 40px; 
}

/* Location Search styles */
.search {
    display: flex;
    align-items: center;
    margin-right: var(--spacing-unit);
}

/* Search input box styles */
.search-box {
    display: flex;
    align-items: center;
    flex: 1; /* Allow the input to expand and fill available space */
}

.search-box input[type="text"] {
    border: none;
    border-radius: 4px;
    width: 400px;
    height: 30px; 
    padding-left: 10px;
}

/* Common styles for the buttons */
.buttons {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.buttons button {
    width: 70px; 
    height: 40px; 
    padding: var(--spacing-half) var(--spacing-double);
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the icons */
.light-dark-toggle {
    margin-left: -180px; /* Adjusted to reduce space between elements */
}

.light-dark-toggle i {
    font-size: 24px; 
    margin-right: 4px;
}

/* Additional styles for GitHub link */
.git {
    margin-right: 90px; /* Adjusted margin for GitHub link */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: var(--spacing-unit) var(--screen-margin);
}

/* Footer navbar styles (similar to header navbar) */
footer .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styles */
footer .logo {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 18px;
    margin-right: 20px;
}


/* Long Button styles */
footer .long-button {
    width: 800px; 
    height: 40px;
    padding: var(--spacing-half) var(--spacing-double);
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scroll-to-Top Button styles */
footer .scroll-top-button {
    width: 70px; 
    height: 40px;
    padding: var(--spacing-half);
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Style the container */
.container {
    background-color: #fff; 
    padding: 100px; 
}